<!DOCTYPE html>

<title>New Canyons</title>

{% block body %}
    <h1>Create new Canyons</h1>

    {{ include('canyons/_form.html.twig') }}

    <a href="{{ path('canyons_index') }}">back to list</a>
{% endblock %}
