<form method="post" action="{{ path('bons_plans_delete', {'idrepname': bons_plan.idrepname}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bons_plan.idrepname) }}">
    <button class="btn">Delete</button>
</form>
